{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>Welcome!</h1>
            <h2>This is MyStore Home Page.</h2>
        </div>
            <div class="container">
        {% if not user.is_authenticated %}

              <div class="row mt-4">
                <div class="col"><button type="button" class="btn btn-outline-info btn-lg btn-block" >Search</button></div>
                <div class="col"><button type="button" class="btn btn-outline-info btn-lg btn-block" >Basket</button></div>
                <div class="col">
                    <button type="button" class="btn btn-outline-info btn-lg btn-block" >
                        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                    </button>
                </div>
              </div>

        {% else %}
              <div class="row mt-4">
                <div class="col"><button type="button" class="btn btn-outline-info btn-lg btn-block" >PRODUCTS</button></div>
                <div class="col"><button type="button" class="btn btn-outline-info btn-lg btn-block" >CLIENTS</button></div>
                <div class="col"><button type="button" class="btn btn-outline-info btn-lg btn-block" >E-COMMERCE</button></div>
              </div>
              <div class="row mt-4">
                <div class="col"><button type="button" class="btn btn-outline-info btn-lg btn-block" >FINANCES</button></div>
                <div class="col"><button type="button" class="btn btn-outline-info btn-lg btn-block" >REPORTS</button></div>
                <div class="col">
                    <button type="button" class="btn btn-outline-info btn-lg btn-block" >
                        <a class="nav-link" href="{% url 'accounts:logout' %}">LOGOUT</a>
                    </button>
                </div>
              </div>

        {% endif %}
            </div>
    </div>
{% endblock %}